# Python
__pycache__/
*.pyc

# Virtualenv
venv/

# Data & artifacts (keep folders but not files)
data/*
!data/.gitkeep
reports/*
!reports/.gitkeep

# Models
models/*.pkl
models/*.bin
models/*.onnx

# Keep JSON and joblib configs
!models/*.json
!models/*.joblib

# Big CSVs / exports
*.csv

# Notebooks checkpoints
.ipynb_checkpoints/
